<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs Display</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.js"></script>
</head>
<body>
    <h1>Logs</h1>
    <table id="logsTable" hx-get="/get_logs" hx-trigger="load, every 5s">
        <tbody hx-get="/get_logs" hx-trigger="load, every 5s">
            <!-- Logs will be inserted here -->
            {% for log in logs %}
                <td>{{log.x}}</td>
                <td>{{log.y}}</td>
                <td>{{log.z}}</td>
                <td>{{log.r}}</td>
                <td>{{log.date}}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
